body {
	position: relative;
	margin: 0;
	background-image: linear-gradient(to right, #7b4397, #dc2430);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	background-color: #fff;
	position: absolute;
	width: 60%;
	height: 70%;
	border-radius: 10px;
}

#display {
	width: 100%;
	border-radius: 10px 10px 0 0;
	height: 20%;
	background-color: rgb(196, 196, 196);
	display: flex;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
}

.result-display {
	width: 95%;
	height: 95%;
	background-color: rgb(177, 177, 177);
}

.buttons {
	text-align: center;
	width: 100%;
	height: 80%;
	display: grid;
	grid-template-columns: 70% 30%;
}
.button-number {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #1596ff;
}
.button {
	cursor: pointer;
	font-size: 24px;
}

.button-number .button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-number .button:hover {
	background-color: #4eafff;
	color: #fff;
}

.button-number-col1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-number-col1 .button {
	width: 100%;
	height: 100%;
}

.button-number-col2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-number-col2 .button {
	width: 100%;
	height: 100%;
}

.button-number-col3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-number-col3 .button {
	width: 100%;
	height: 100%;
}

.button-math-symbols {
	text-align: center;
}

.button-math-symbols .button:hover {
	background-color: #ff9034;
}

.row1 {
	background-color: #fd7200;
	display: flex;
	flex-direction: row;
	height: 20%;
}

.row1 .button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.row2 {
	height: 20%;
	background-color: #fd7200;
	display: flex;
	flex-direction: row;
}
.row2 .button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.row3 {
	height: 20%;
	background-color: #fd7200;
	display: flex;
	flex-direction: row;
}
.row3 .button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.row4 {
	height: 20%;
	background-color: #fd7200;
	display: flex;
	flex-direction: row;
}
.row4 .button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

#equal {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #9553cc;
	height: 20%;
}

#equal:hover {
	background-color: #af86d1;
}
